* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
  text-align: center;
  padding: 20px;
  height: 9vh;
  width: 100%;
  background-color: rgb(173, 198, 203);
}

h1 {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(221, 17, 17), #fff, #000);
  background-repeat: repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 500%;
  }
}

.wrapper-main {
  display: flex;
  margin: 30px;
  padding: 20px;
  border: 1px solid black;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("../multimedia/background.jpg");
  background-size: cover;
}

.cars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  margin: 50px;
  padding: 30px;
  flex-basis: 40%;
}

input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

::placeholder {
  text-align: center;
}

label {
  font-weight: bold;
  font-style: italic;
}
/* Radio buttons color: */

#red1 {
  accent-color: red;
}
#yellow1 {
  accent-color: yellow;
}
#green1 {
  accent-color: green;
}
#red2 {
  accent-color: red;
}
#yellow2 {
  accent-color: yellow;
}
#green2 {
  accent-color: green;
}

.color-selection1 {
  display: flex;
  gap: 10px;
  margin: 15px;
}

.race {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 20%;
  margin: 20px;
  gap: 20px;
}

.resultsfinal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(173, 198, 203);
}
.resultsfinal:empty {
  display: none;
}

/* Button design... */
.resultsbtn {
  background-color: #e73d3d;
  border: 0 solid #e5e7eb;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resultsbtn:focus {
  outline: 0;
}

.resultsbtn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.resultsbtn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .resultsbtn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
